/* sets border-box to all elements */
*
{
  box-sizing: border-box;
}

/* remove default css and sets height */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* sets the font and background color to the background */
body {
  font-family: sans-serif;
  background-color: #1F5C79;
}
/* gives padding to the .wrapper container */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/* centers, adds color to the text and background,adds rounded corners, and adds a shadow.*/
header {
  text-align: center;
  padding: 20px;
  color: #D7DEE8;
  background-color: #2B2B2B;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 0px 5px;
}
/* adds text, background, border styling. */
.card {
  background-color: #BFAB0C;
  border-radius: 150px;
  border-width: 10px;
  border-style: solid;
  border-color: #2B2B2B;
  color: #2B2B2B 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  box-shadow: #767D83 9px 10px;
}
/* constrains height of card body to 100 px */
.card-body {
  min-height: 100px;
}
/* aligns card-footer text */

.btn {
  border: none;
  background-color: #2B2B2B;
  border-radius: 25px;
  box-shadow: #767D83 2px 3px;
  color: #D7DEE8;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* Styles for the password textarea */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 40px;
  resize: none;
  overflow: auto;
  background-color: #2B2B2B;
  box-shadow: #767D83 3px 4px;
  color: yellow;
}

/* sets style for small screens */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 0px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
    color: yellow;
  }
}


/* sets style for smaller screens */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
